apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn_map.credentials.backup.secret }}
  namespace: {{ longhorn_vars.kubernetes.namespace }}
stringData:
  CIFS_PASSWORD: {{ global_map.credentials.longhorn.backup.user.password }}
  CIFS_USERNAME: {{ global_map.credentials.longhorn.backup.user.name }}
type: Opaque
