apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
{% for key, value in longhorn_map.gateway.frontend.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ longhorn_vars.kubernetes.frontend.gateway.service }}
  namespace: {{ longhorn_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
  listeners:
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ longhorn_map.gateway.frontend.hostname }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ longhorn_map.gateway.frontend.hostname }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ externaldns_vars.cloudflare.prefix }}-{{ longhorn_vars.kubernetes.frontend.gateway.service }}
