apiVersion: v1
kind: Service
metadata:
  annotations:
{% for key, value in longhorn_vars.kubernetes.infrastructure.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ longhorn_vars.kubernetes.gateway.service }}
  namespace: {{ longhorn_vars.kubernetes.namespace }}
spec:
  type: LoadBalancer
