apiVersion: v1
kind: Service
metadata:
  annotations:
    io.cilium/lb-ipam-ips: '{{ longhorn_vars.kubernetes.frontend.loadbalancer.ip }}'
  name: '{{ longhorn_vars.kubernetes.gateway.service }}'
  namespace: '{{ longhorn_vars.kubernetes.namespace }}'
spec:
  type: LoadBalancer
