apiVersion: v1
kind: Secret
data:
  CIFS_PASSWORD: {{ longhorn_vars.kubernetes.default_settings.backup.user.password | b64encode }}
  CIFS_USERNAME: {{ longhorn_vars.kubernetes.default_settings.backup.user.name | b64encode }}
metadata:
  name: {{ longhorn_vars.kubernetes.default_settings.backup.secret.name }}
  namespace: {{ longhorn_vars.kubernetes.namespace }}
type: Opaque
