defaultSettings:
  allowCollectingLonghornUsageMetrics: {{ longhorn_vars.kubernetes.default_settings.collect_usage_metrics }}
  autoCleanupRecurringJobBackupSnapshot: true
  autoCleanupSnapshotWhenDeleteBackup: true
  autoCleanupSystemGeneratedSnapshot: true
  autoDeletePodWhenVolumeDetachedUnexpectedly: true
{% if longhorn_vars.kubernetes.default_settings.backup.enabled %}
  backupTarget: {{ longhorn_vars.kubernetes.default_settings.backup.target }}
{% if longhorn_vars.kubernetes.default_settings.backup.target[:3] | lower == 'cifs' %}
  backupTargetCredentialSecret: {{ longhorn_vars.kubernetes.default_settings.backup.secret.name }}
{% endif %}
{% endif %}
  defaultDataLocality: {{ longhorn_vars.kubernetes.default_settings.data_locality }}
  defaultReplicaCount: {{ longhorn_vars.kubernetes.default_settings.replicas }}
  disableSchedulingOnCordonedNode: true
  logLevel: {{ longhorn_vars.kubernetes.default_settings.log_level }}
  nodeDownPodDeletionPolicy: {{ longhorn_vars.kubernetes.default_settings.pod_deletion_policy }}
  orphanAutoDeletion: true
  removeSnapshotsDuringFilesystemTrim: true
  replicaAutoBalance: {{ longhorn_vars.kubernetes.default_settings.replica_auto_balance }}
{% if k3s_vars.cluster.controlplane.tainted %}
{% if k3s_map.node.taint.server | length > 0 %}
  taintToleration: {{ k3s_map.node.taint.server | join | trim }}
{% endif %}
longhornDriver:
  tolerations:
    {{ k3s_vars.tolerations | to_nice_yaml | indent(4) }}
longhornManager:
  tolerations:
    {{ k3s_vars.tolerations | to_nice_yaml | indent(4) }}
{% endif %}
{% if longhorn_postinstall %}
metrics:
  serviceMonitor:
    enabled: true
{% endif %}
persistence:
  dataEngine: {{ longhorn_vars.kubernetes.persistence.data_engine }}
  defaultClassReplicaCount: {{ longhorn_vars.kubernetes.default_settings.replicas }}
  defaultDataLocality: {{ longhorn_vars.kubernetes.persistence.data_locality }}
  removeSnapshotsDuringFilesystemTrim: {{ longhorn_vars.kubernetes.persistence.remove_snapshots_during_filesystem_trim }}
