defaultSettings:
  allowCollectingLonghornUsageMetrics: {{ longhorn_vars.kubernetes.default_settings.collect_usage_metrics | lower }}
  autoCleanupRecurringJobBackupSnapshot: true
  autoCleanupSnapshotWhenDeleteBackup: true
  autoCleanupSystemGeneratedSnapshot: true
{% if longhorn_vars.kubernetes.default_settings.backup.enabled is truthy %}
  backupTarget: {{ longhorn_vars.kubernetes.default_settings.backup.target }}
{% if longhorn_vars.kubernetes.default_settings.backup.target[:4] | lower == 'cifs' %}
  backupTargetCredentialSecret: {{ longhorn_map.credentials.backup.secret }}
{% endif %}
{% endif %}
  defaultDataLocality: {{ longhorn_vars.kubernetes.default_settings.data_locality }}
  defaultDataPath: {{ longhorn_map.directory.data }}
{% if longhorn_vars.kubernetes.default_settings.volume.replicas < 2 %}
  defaultReplicaCount: 2
{% else %}
  defaultReplicaCount: {{ longhorn_vars.kubernetes.default_settings.volume.replicas }}
{% endif %}
  disableSchedulingOnCordonedNode: true
  logLevel: {{ longhorn_vars.kubernetes.default_settings.log_level }}
  nodeDownPodDeletionPolicy: {{ longhorn_vars.kubernetes.default_settings.pod_deletion_policy }}
  nodeDrainPolicy: {{ longhorn_vars.kubernetes.default_settings.node_drain_policy }}
  orphanAutoDeletion: true
  removeSnapshotsDuringFilesystemTrim: true
  replicaAutoBalance: {{ longhorn_vars.kubernetes.default_settings.volume.replica_auto_balance }}
{% if k3s_vars.cluster.controlplane.tainted is truthy %}
{% if k3s_resources.node.taint.server | length > 0 %}
  taintToleration: {{ k3s_resources.node.taint.server | join | trim }}
{% endif %}
{% if k3s_project.cluster.tolerations | length > 0 %}
longhornDriver:
  tolerations:
    {{ k3s_project.cluster.tolerations | to_nice_yaml(indent=2) | trim | indent(4) }}
longhornManager:
  tolerations:
    {{ k3s_project.cluster.tolerations | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% endif %}
{% if longhorn_postinstall is truthy and longhorn_map.metrics.service.monitor.enabled is truthy %}
metrics:
  serviceMonitor:
    enabled: true
{% if longhorn_map.metrics.service.monitor.scrape.interval is falsy %}
    interval: {{ victoriametrics_map.service.monitor.scrape.interval }}
{% else %}
    interval: {{ longhorn_map.metrics.service.monitor.scrape.interval }}
{% endif %}
    namespace: {{ victoriametrics_vars.kubernetes.namespace }}
{% if longhorn_map.metrics.service.monitor.scrape.timeout is falsy %}
    scrapeTimeout: {{ victoriametrics_map.service.monitor.scrape.timeout }}
{% else %}
    scrapeTimeout: {{ longhorn_map.metrics.service.monitor.scrape.timeout }}
{% endif %}
{% endif %}
persistence:
{% if longhorn_vars.kubernetes.default_settings.volume.replicas < 2 %}
  defaultClassReplicaCount: 2
{% else %}
  defaultClassReplicaCount: {{ longhorn_vars.kubernetes.default_settings.volume.replicas }}
{% endif %}
