---
cloudflare_vars:
  kubernetes:
    acme:
      server: staging
    api:
      token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          31393030336132653638356333626264653665653336613361356265366164333539393665386131
          3738666437636130363866346430343431643436663237360a326431363463643539663839613966
          37313665313835346239623666626463663437336333646432356266656338336362313962366463
          6331616461633330640a383162303030343362313863323266303839653332346435663732653162
          61616139326438373331313939383436663630306634646664306232623838643631613733636266
          3063613636383739353763653564343765373336366438656530
    gateway:
      cluster:
        issuer:
          key:
            prefix: cloudflare-tls
          name: cloudflare-cluster-issuer
      domain: noty.cc
    namespace: kube-system
