apiVersion: v1
kind: Secret
metadata:
  name: {{ victoriametrics_map.credentials.grafana.secret }}
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
stringData:
  admin-password: {{ global_map.credentials[role_name].grafana.user.password }}
  admin-user: {{ global_map.credentials[role_name].grafana.user.name }}
type: Opaque
