apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: {{ victoriametrics_project.gateway.service.grafana }}-http
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
spec:
  hostnames:
    - {{ victoriametrics_project.hostname.grafana }}
  parentRefs:
    - kind: Gateway
      name: {{ victoriametrics_project.gateway.service.grafana }}
      namespace: {{ victoriametrics_vars.kubernetes.namespace }}
      sectionName: http
  rules:
    - filters:
        - requestRedirect:
            scheme: https
            statusCode: 301
          type: RequestRedirect
      matches:
        - path:
            type: PathPrefix
            value: /
