apiVersion: v1
kind: Service
metadata:
  annotations:
{% for key, value in item.annotations %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ item.name }}
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
spec:
  type: LoadBalancer
