global:
  cluster:
    dnsDomain: {{ k3s_vars.server.cluster.domain }}.
  clusterLabel: default
alertmanager:
  config:
    inhibit_rules:
      - target_matchers:
          - severity=~"info|warning"
        source_matchers:
          - severity="critical"
        equal:
          - cluster
          - namespace
          - alertname
      - target_matchers:
          - severity="info"
        source_matchers:
          - severity="warning"
        equal:
          - cluster
          - namespace
          - alertname
      - target_matchers:
          - severity="info"
        source_matchers:
          - alertname="InfoInhibitor"
        equal:
          - cluster
          - namespace
    route:
      group_by:
        - alertgroup
        - job
      group_interval: 5m
      group_wait: 30s
      repeat_interval: 12h
  spec:
    replicaCount: {{ victoriametrics_vars.kubernetes.alertmanager.replicas }}
{% if victoriametrics_postinstall %}
    configReloaderResources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.alertmanager.config_reloader.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.alertmanager.config_reloader.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.alertmanager.config_reloader.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.alertmanager.config_reloader.resources.requests.memory }}
    resources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.alertmanager.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.alertmanager.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.alertmanager.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.alertmanager.resources.requests.memory }}
{% endif %}
defaultDashboards:
  defaultTimezone: {{ victoriametrics_vars.kubernetes.default_dashboards.timezone }}
  enabled: {{ victoriametrics_vars.kubernetes.default_dashboards.enabled }}
grafana:
  admin:
    existingSecret: {{ victoriametrics_project.secret.grafana.name }}
{% if victoriametrics_postinstall %}
  resources:
    limits:
      cpu: {{ victoriametrics_vars.kubernetes.grafana.resources.limits.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.grafana.resources.limits.memory }}
    requests:
      cpu: {{ victoriametrics_vars.kubernetes.grafana.resources.requests.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.grafana.resources.requests.memory }}
  sidecar:
    resources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.grafana.sidecar.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.grafana.sidecar.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.grafana.sidecar.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.grafana.sidecar.resources.requests.memory }}
{% endif %}
kube-state-metrics:
  replicas: {{ victoriametrics_vars.kubernetes.kube_state_metrics.replicas }}
{% if victoriametrics_postinstall %}
  resources:
    limits:
      cpu: {{ victoriametrics_vars.kubernetes.kube_state_metrics.resources.limits.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.kube_state_metrics.resources.limits.memory }}
    requests:
      cpu: {{ victoriametrics_vars.kubernetes.kube_state_metrics.resources.requests.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.kube_state_metrics.resources.requests.memory }}
{% endif %}
kubeControllerManager:
  endpoints:
    {{ k3s_server_ips | to_nice_yaml | indent(4) }}
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: https
          tlsConfig:
            caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            insecureSkipVerify: true
            serverName: localhost
kubeEtcd:
{% if not k3s_ha_cluster %}
  enabled: false
{% endif %}
  endpoints:
    {{ k3s_server_ips | to_nice_yaml | indent(4) }}
  service:
    port: 2381
    targetPort: 2381
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: http
kubeScheduler:
  endpoints:
    {{ k3s_server_ips | to_nice_yaml | indent(4) }}
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: https
          tlsConfig:
            caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            insecureSkipVerify: true
            serverName: localhost
prometheus-operator-crds:
  enabled: true
victoria-metrics-operator:
  operator:
    admissionWebhooks:
      certManager:
        enabled: true
        issuer:
          group: cert-manager.io
          kind: ClusterIssuer
          name: {{ certmanager_vars.kubernetes.tls.cluster_issuer.name }}
    enable_converter_ownership: true
  replicaCount: {{ victoriametrics_vars.kubernetes.victoria_metrics_operator.replicas }}
{% if victoriametrics_postinstall %}
  resources:
    limits:
      cpu: {{ victoriametrics_vars.kubernetes.victoria_metrics_operator.resources.limits.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.victoria_metrics_operator.resources.limits.memory }}
    requests:
      cpu: {{ victoriametrics_vars.kubernetes.victoria_metrics_operator.resources.requests.cpu }}
      memory: {{ victoriametrics_vars.kubernetes.victoria_metrics_operator.resources.requests.memory }}
{% endif %}
{% if victoriametrics_postinstall %}
vmagent:
  spec:
    configReloaderResources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.vmagent.config_reloader.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmagent.config_reloader.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.vmagent.config_reloader.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmagent.config_reloader.resources.requests.memory }}
    resources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.vmagent.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmagent.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.vmagent.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmagent.resources.requests.memory }}
vmalert:
  spec:
    configReloaderResources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.vmalert.config_reloader.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmalert.config_reloader.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.vmalert.config_reloader.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmalert.config_reloader.resources.requests.memory }}
    resources:
      limits:
        cpu: {{ victoriametrics_vars.kubernetes.vmalert.resources.limits.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmalert.resources.limits.memory }}
      requests:
        cpu: {{ victoriametrics_vars.kubernetes.vmalert.resources.requests.cpu }}
        memory: {{ victoriametrics_vars.kubernetes.vmalert.resources.requests.memory }}
{% endif %}
vmcluster:
  enabled: true
  spec:
    replicationFactor: {{ victoriametrics_vars.kubernetes.vmcluster.replication_factor }}
    retentionPeriod: {{ victoriametrics_vars.kubernetes.vmcluster.retention_period }}
    vminsert:
      replicaCount: {{ victoriametrics_vars.kubernetes.vmcluster.vminsert.replicas }}
{% if victoriametrics_postinstall %}
      resources:
        limits:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vminsert.resources.limits.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vminsert.resources.limits.memory }}
        requests:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vminsert.resources.requests.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vminsert.resources.requests.memory }}
{% endif %}
    vmselect:
      replicaCount: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.replicas }}
{% if victoriametrics_postinstall %}
      resources:
        limits:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.resources.limits.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.resources.limits.memory }}
        requests:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.resources.requests.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.resources.requests.memory }}
{% endif %}
      storage:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: {{ victoriametrics_vars.kubernetes.vmcluster.vmselect.storage }}
            storageClassName: longhorn
    vmstorage:
      replicaCount: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.replicas }}
{% if victoriametrics_postinstall %}
      resources:
        limits:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.resources.limits.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.resources.limits.memory }}
        requests:
          cpu: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.resources.requests.cpu }}
          memory: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.resources.requests.memory }}
{% endif %}
      storage:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: {{ victoriametrics_vars.kubernetes.vmcluster.vmstorage.storage }}
            storageClassName: longhorn
vmsingle:
  enabled: false
