apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ externaldns_project.cloudflare.cluster.issuer }}
spec:
  acme:
    email: {{ global_map.credentials.cluster.postfix.user.alias }}
    privateKeySecretRef:
      name: {{ externaldns_vars.cloudflare.tls.key_prefix }}-private-key
    server: {{ externaldns_project.cloudflare.acme.server.url }}
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              key: {{ externaldns_vars.cloudflare.api.token.key }}
              name: {{ externaldns_vars.cloudflare.api.token.name }}
