---
kured_vars:
  kubernetes:
    configuration:
      concurrency: 1
      period: 15m
      reboot_delay: 60s
      slack:
        enabled: true
        messages:
          enabled: false
          drain: ''
          reboot: ''
          uncordon: ''
        notify_url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65346138646335313333393731396164323561333538653835656436306164353735376332373364
          3465383862396539373964333735643334393336313337390a313539383465333039323664623235
          62306634663130353837346462326438363232636333613661376235623438316636336433633037
          3231376662636334360a616338386561663830356565373266666464363335626635663333643837
          61613237663063383138313732653866613036376334373664313832613335663632666434356162
          36616265323863373935643866393033623563383436396231663461373563356430316337313436
          356561393562613137646636643332353137
      time:
        start: '04:00'
        end: '08:00'
        zone: UTC
    helm:
      chart:
        name: kured
        version: v5.5.2
      repository:
        name: charts
        org: kubereboot
        url: https://kubereboot.github.io
    metrics:
      create: true
    namespace: kube-system
    resources:
      limits:
        cpu: null
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 128Mi
    service:
      create: true
