apiVersion: v1
kind: Service
metadata:
  name: {{ k3s_vars.kubernetes.gateway.service }}
  namespace: {{ k3s_vars.kubernetes.namespace }}
spec:
  ports:
    - name: https
      port: 443
      targetPort: {{ k3s_vars.server.api.port }}
