backend k3s-backend
	balance		roundrobin
	default-server	check
	mode		tcp
	option		tcplog
	option		tcp-check
{% for host, ip in k3s_server_hosts | zip(k3s_server_ips) %}
	server {{ host }}	{{ ip }}:{{ k3s_vars.api.port }}
{% endfor %}

frontend k3s-frontend
	bind		{{ k3s_vars.api.host }}:{{ k3s_vars.api.port }}
	default_backend	k3s-backend
	mode		tcp
	option		tcplog
