[Unit]
Description=Lightweight Kubernetes {{ k3s_service_type | capitalize }}
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Delegate=yes
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/systemd/system/{{ k3s_service_name }}.service.env
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
{% if k3s_service_type == 'server' %}
ExecStart=/usr/local/bin/k3s {{ k3s_service_type }} {{ k3s_vars.service.server_args }}
{% else %}
ExecStart=/usr/local/bin/k3s {{ k3s_service_type }} {{ k3s_vars.service.agent_args }}
{% endif %}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
LimitCORE=infinity
LimitNOFILE=infinity
LimitNPROC=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
