apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: {{ argocd_vars.kubernetes.namespace }}
data:
  accounts.{{ argocd_map.credentials.server.user.name }}.password: >-
    {{ argocd_map.credentials.server.user.password | b64encode }}
  accounts.{{ argocd_map.credentials.server.user.name }}.passwordMtime: {{ ansible_date_time.iso8601 | b64encode }}
  accounts.{{ argocd_map.credentials.server.user.name }}.tokens: {{ 'null' | b64encode }}
