apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ cloudflare_resources.cluster.issuer }}
  name: {{ argocd_vars.kubernetes.server.gateway.service }}
  namespace: {{ argocd_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
  infrastructure:
    annotations:
{% for key, value in argocd_vars.kubernetes.server.infrastructure.annotations.items() %}
      {{ key | indent(6) }}: {{ value }}
{% endfor %}
  listeners:
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ hostname }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ hostname }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ cloudflare_map.tls.key.prefix }}-{{ argocd_vars.kubernetes.server.gateway.service }}
