apiVersion: v1
kind: Service
metadata:
  annotations:
{% for key, value in argocd_map.infrastructure.server.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ argocd_vars.kubernetes.server.gateway.service }}
  namespace: {{ argocd_vars.kubernetes.namespace }}
spec:
  type: LoadBalancer
