apiVersion: v1
kind: Secret
data:
  accounts.{{ server['user']['name'] }}.password: >-
    {{ server['user']['password'] | b64encode }}
  accounts.{{ server['user']['name'] }}.passwordMtime: {{ ansible_date_time.iso8601 | b64encode }}
  accounts.{{ server['user']['name'] }}.tokens: {{ 'null' | b64encode }}
metadata:
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
  name: argocd-secret
  namespace: {{ argocd_vars.kubernetes.namespace }}
