apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: {{ argocd_vars.kubernetes.namespace }}
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.csv: |
    g, {{ argocd_map.credentials.server.user.name }}, role:admin
  policy.default: role:readonly
