apiVersion: v1
kind: ConfigMap
data:
  accounts.{{ argocd_map.credentials.server.user.name }}: apiKey, login
  accounts.{{ argocd_map.credentials.server.user.name }}.enabled: 'true'
  admin.enabled: 'false'
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
  namespace: {{ argocd_vars.kubernetes.namespace }}
