resources:
  limits:
    cpu: '{{ sealedsecrets_vars.kubernetes.resources.limits.cpu }}'
    memory: '{{ sealedsecrets_vars.kubernetes.resources.limits.memory }}'
  requests:
    cpu: '{{ sealedsecrets_vars.kubernetes.resources.requests.cpu }}'
    memory: '{{ sealedsecrets_vars.kubernetes.resources.requests.memory }}'
