---
ansible_user: floren
# -- Encrypt value with [`ansible-vault`](https://axivo.com/k3s-cluster/tutorials/handbook/ansible/#vault)
ansible_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35353165633430306536383062363839353032346630376161623733333164636361353564626462
  3431656165353630326136646234333133383237633265370a643865386164383664666365316437
  61633661303435623332353035323764613933633339326165363165396365313464616133353564
  3163333265656535370a303130313833376166386130643763336661653133353261393235336263
  3563
ansible_become_password: '{{ ansible_password }}'
global_map:
  credentials:
    argocd:
      server:
        admin:
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            34393938613865616665666136616561313166303463366665313630383439343035356161663963
            6332616639663533643535333334656436386533386665660a663137326437326461373766623864
            30633935616331333363346633633533346438353536356265323866363064653731376266306665
            3138643266396539330a663132393231646265316330393765323631333838333432333531316639
            62333838313937393162373537353632613866313161343366343361653738366265
        user:
          name: floren
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            64633339333736643362666261326638663532663037666334366366626236316235316566323730
            3731303238393765383766616636323161636133623330330a373462353334616232623362643339
            32393830626564653166386564383936653862376261343063316437636365333537663166633664
            6163323837383863660a393936386633336336376539306235373364643430323930633261386130
            63333630323765663465326438643862373831656437616262323739376634663037
    cluster:
      postfix:
        user:
          # -- Use `alias@domain.com` format, see [details](https://support.apple.com/guide/icloud/mm6b1a490a)
          alias: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            33653866643135633461353232646435313431303639373362616235653864326664383538303733
            3435663130343936383861333165643130356237353435350a653233316665636164323238656131
            62343830383865353437643466663639653336316538393734663164373332323636633465306539
            6535316437366232310a393030616365336131346462366231303765346162636133366366366666
            61666133396237643736323039656431666539316466613537353566653434343335
          # -- Use `username@domain.com` format, see [details](https://support.apple.com/guide/icloud/mmdd8d1c5c)
          name: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            33613533663061316461353063333966646463386130316230383566643465653363653535656136
            3564636533306637303530333466613738626438313232330a653933373630356533323038313335
            66303062643132373064313335616336313663366565386238346231356436613730303766626465
            3530353063623233380a306663336338333231636562363061616164356631366339366234303833
            33636333313934663737653565643234373039373963343436373133353866386437
          # -- App-specific [password](https://support.apple.com/HT204397), used for iCloud mail server authentication
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            65623337643063366436346162363338613931663364303866316338353638613264303462656466
            6533363730653731613332313466633666633166353537630a363762636634326235366362653364
            30333337633834623962643533373562666365643930626361613162366338343831643231323339
            3864653332333038300a663733636137643964323439643439343863336332393835356365363563
            61313538623030313638626534386636393063613231343734386137356134353961
    externaldns:
      cloudflare:
        api:
          token: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            31393030336132653638356333626264653665653336613361356265366164333539393665386131
            3738666437636130363866346430343431643436663237360a326431363463643539663839613966
            37313665313835346239623666626463663437336333646432356266656338336362313962366463
            6331616461633330640a383162303030343362313863323266303839653332346435663732653162
            61616139326438373331313939383436663630306634646664306232623838643631613733636266
            3063613636383739353763653564343765373336366438656530
    kured:
      slack:
        notify:
          url: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            65346138646335313333393731396164323561333538653835656436306164353735376332373364
            3465383862396539373964333735643334393336313337390a313539383465333039323664623235
            62306634663130353837346462326438363232636333613661376235623438316636336433633037
            3231376662636334360a616338386561663830356565373266666464363335626635663333643837
            61613237663063383138313732653866613036376334373664313832613335663632666434356162
            36616265323863373935643866393033623563383436396231663461373563356430316337313436
            356561393562613137646636643332353137
    longhorn:
      backup:
        user:
          name: floren
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            39316363313963356635616531306233316639313366646238383831633731646539663830326332
            3663343133393436396234346339623366363366616263310a363937643063343133663036333936
            65653632373566323430363838386531336365316262363937376565653430313138303935386663
            6133643231643063640a383531396462663633663532383630316636313034636664613632323736
            3835
    victoriametrics:
      grafana:
        user:
          name: admin
          password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            64373766356138653633346638343234336132383737616530303636366262313534656163616435
            3363396663333933306431363038316239373164386332660a616136666438313933353762373063
            38323135393830336132393239363236373961336464623432363338616266626334393233366263
            6164623332633535310a626532356161363563303036353838306234306562303333333231643432
            38383463653931373134663230383033666264646364316563663636303736326630
