apiVersion: v1
kind: Secret
metadata:
  name: {{ victoriametrics_map.credentials.secret }}
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
  labels:
    app.kubernetes.io/instance: {{ victoriametrics_vars.kubernetes.helm.chart.victoriametrics.alias }}
    app.kubernetes.io/name: {{ victoriametrics_map.credentials.secret }}
    app.kubernetes.io/part-of: {{ victoriametrics_vars.kubernetes.helm.chart.victoriametrics.name }}
stringData:
  admin-password: {{ global_map.credentials.victoriametrics.grafana.user.password }}
  admin-user: {{ global_map.credentials.victoriametrics.grafana.user.name }}
  smtp-password: {{ global_map.credentials.cluster.postfix.user.password }}
  smtp-user: {{ global_map.credentials.cluster.postfix.user.name }}
type: Opaque
