---
cilium_vars:
  kubernetes:
    client:
      rate_limit:
        burst: 100
        qps: 50
    envoy:
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
    helm:
      chart:
        name: cilium
        version: v1.15.6
      repository:
        name: cilium
        org: cilium
        url: https://helm.cilium.io
    hubble:
      relay:
        replicas: 2
        resources:
          limits:
            cpu: 400m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 64Mi
        retry_timeout: 10s
      ui:
        gateway:
          service: hubble-ui
          subdomain: hubble
        infrastructure:
          annotations:
            io.cilium/lb-ipam-ips: 192.168.4.19
      tls:
        auto:
          method: certmanager
        certificate:
          common:
            name: hubble-common-certs
          root:
            name: hubble-root-certs
        cluster_issuer:
          name: hubble-cluster-issuer
    ingress:
      controller:
        service:
          loadbalancer:
            ip: 192.168.4.17
    ipam:
      operator:
        cluster_pool: 10.42.0.0/16
    loadbalancer:
      algorithm: disabled
      ip_pool:
        cidr: 192.168.4.16/28
        name: default-pool
      l2_announcement_policy:
        name: default-l2-announcement-policy
      table_size: 16381
    namespace: kube-system
    operator:
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
    routing_mode: native
  release:
    cli:
      file: cilium-linux-arm64.tar.gz
      repository:
        name: cilium-cli
        org: cilium
      version: v0.16.10
    gateway_api:
      file: experimental-install.yaml
      repository:
        name: gateway-api
        org: kubernetes-sigs
      version: v1.1.0
    hubble:
      file: hubble-linux-arm64.tar.gz
      repository:
        name: hubble
        org: cilium
      version: v0.13.4
