apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item }}
  namespace: kube-system
spec:
  template:
    spec:
      containers:
        - name: {{ item }}
          resources:
            limits:
              cpu: {{ k3s_vars.resources[item].limits.cpu }}
              memory: {{ k3s_vars.resources[item].limits.memory }}
            requests:
              cpu: {{ k3s_vars.resources[item].requests.cpu }}
              memory: {{ k3s_vars.resources[item].requests.memory }}
