apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ cloudflare_resources.cluster.issuer }}
  name: {{ cilium_vars.kubernetes.hubble.ui.gateway.service }}
  namespace: {{ cilium_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
{% if cilium_vars.kubernetes.hubble.ui.infrastructure.enabled %}
  infrastructure:
    annotations:
{% for key, value in cilium_vars.kubernetes.hubble.ui.infrastructure.annotations.items() %}
      {{ key | indent(6) }}: {{ value }}
{% endfor %}
{% endif %}
  listeners:
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ cilium_resources.hostname }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ cilium_resources.hostname }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ cloudflare_map.tls.key.prefix }}-{{ cilium_vars.kubernetes.hubble.ui.gateway.service }}
