apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
{% for key, value in cilium_map.gateway.hubble.ui.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ cilium_vars.kubernetes.hubble.ui.gateway.service }}
  namespace: {{ cilium_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
  listeners:
    - allowedRoutes:
        kinds:
          - group: gateway.networking.k8s.io
            kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ cilium_map.gateway.hubble.ui.hostname }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - group: gateway.networking.k8s.io
            kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ cilium_map.gateway.hubble.ui.hostname }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ externaldns_vars.cloudflare.prefix }}-{{ cilium_vars.kubernetes.hubble.ui.gateway.service }}
        mode: Terminate
