apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: {{ cilium_vars.kubernetes.loadbalancer.l2_announcement_policy.name }}
  namespace: {{ cilium_vars.kubernetes.namespace }}
spec:
  externalIPs: true
  interfaces:
    - {{ k3s_vars.network.interface }}
  loadBalancerIPs: true
