apiVersion: v1
kind: Service
metadata:
  annotations:
    io.cilium/lb-ipam-ips: '{{ cilium_vars.kubernetes.hubble.ui.loadbalancer.ip }}'
  name: '{{ cilium_vars.kubernetes.hubble.ui.gateway.service }}'
  namespace: '{{ cilium_vars.kubernetes.namespace }}'
spec:
  type: LoadBalancer
