apiVersion: v1
kind: Service
metadata:
  annotations:
{% for key, value in cilium_vars.kubernetes.hubble.ui.infrastructure.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ cilium_vars.kubernetes.hubble.ui.gateway.service }}
  namespace: {{ cilium_vars.kubernetes.namespace }}
spec:
  type: LoadBalancer
