apiVersion: v1
kind: Secret
metadata:
  name: {{ cloudflare_vars.kubernetes.api.token.name }}
  namespace: {{ cloudflare_vars.kubernetes.namespace }}
stringData:
  {{ cloudflare_vars.kubernetes.api.token.key }}: {{ cloudflare_vars.kubernetes.api.token.value }}
type: Opaque
