apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ cloudflare_resources.cluster.issuer }}
spec:
  acme:
    email: {{ cluster_vars.service.postfix.user.alias }}
    privateKeySecretRef:
      name: {{ cloudflare_map.tls.key.prefix }}-key
    server: {{ cloudflare_resources.acme.server.url }}
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              key: {{ global_map.credentials[role_name].api.token.key }}
              name: {{ global_map.credentials[role_name].api.token.name }}
