env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        key: {{ cloudflare_vars.kubernetes.api.token.key }}
        name: {{ cloudflare_vars.kubernetes.api.token.name }}
policy: {{ cloudflare_vars.kubernetes.policy }}
provider:
  name: cloudflare
{% if cloudflare_postinstall %}
resources:
  limits:
    cpu: {{ cloudflare_vars.kubernetes.resources.limits.cpu }}
    memory: {{ cloudflare_vars.kubernetes.resources.limits.memory }}
  requests:
    cpu: {{ cloudflare_vars.kubernetes.resources.requests.cpu }}
    memory: {{ cloudflare_vars.kubernetes.resources.requests.memory }}
{% endif %}
sources:
  - gateway-httproute
