The role performs various tasks related to VictoriaMetrics
[chart](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack) deployment, reset and validation.

## Role Variables

See the related role variables listed below, defined into [main.yaml](defaults/main.yaml) defaults file.

{{ template "chart.valuesTableHtml" . }}
