env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        key: {{ externaldns_map.cloudflare.api.token.key }}
        name: {{ externaldns_map.cloudflare.api.token.name }}
logLevel: {{ externaldns_vars.kubernetes.log_level }}
policy: {{ externaldns_vars.kubernetes.policy }}
provider:
  name: cloudflare
resources:
  limits:
{% if externaldns_vars.kubernetes.resources.limits.cpu is truthy %}
    cpu: {{ externaldns_vars.kubernetes.resources.limits.cpu }}
{% endif %}
    memory: {{ externaldns_vars.kubernetes.resources.limits.memory }}
  requests:
    cpu: {{ externaldns_vars.kubernetes.resources.requests.cpu }}
    memory: {{ externaldns_vars.kubernetes.resources.requests.memory }}
{% if externaldns_postinstall is truthy and externaldns_map.metrics.service.monitor.enabled is truthy %}
serviceMonitor:
  enabled: true
{% if externaldns_map.metrics.service.monitor.scrape.interval is falsy %}
  interval: {{ victoriametrics_map.service.monitor.scrape.interval }}
{% else %}
  interval: {{ externaldns_map.metrics.service.monitor.scrape.interval }}
{% endif %}
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
{% if certmanager_map.metrics.service.monitor.scrape.timeout is falsy %}
  scrapeTimeout: {{ victoriametrics_map.service.monitor.scrape.timeout }}
{% else %}
  scrapeTimeout: {{ externaldns_map.metrics.service.monitor.scrape.timeout }}
{% endif %}
{% endif %}
sources:
  - gateway-grpcroute
  - gateway-httproute
  - gateway-tcproute
  - gateway-tlsroute
  - gateway-udproute
  - ingress
  - service
