---
helm_vars:
  environment:
    HELM_NAMESPACE: default
  plugins:
    - name: diff
      enabled: true
      packages:
        - python3-jsonpatch
      repository:
        url: https://github.com/databus23/helm-diff
      version: v3.13.0
  release:
    helm:
      distro:
        channel: any
        name: debian
      key: helm-archive-keyring.gpg
      repository:
        channel: stable
        key: gpgkey
        url: https://packages.buildkite.com/helm-linux/helm-debian
      version: v3.19.2-1
