---
- name: Role Facts
  ansible.builtin.include_role:
    name: '{{ role }}'
    tasks_from: facts
  loop:
    - external-dns
    - k3s
    - victoria-metrics
    - coredns
  loop_control:
    loop_var: role

- name: Role Validation
  when: ('validation' in ansible_run_tags)
  run_once: true
  block:
    - name: Validate project url
      ansible.builtin.uri:
        url: '{{ coredns_project.url }}/{{ coredns_project.tag }}'
        timeout: 5
      register: result
      delay: 1
      retries: 3
      until: result is not failed

    - name: Chart Validation
      block:
        - name: Update repository
          kubernetes.core.helm_repository:
            name: '{{ coredns_vars.kubernetes.helm.repository.org }}'
            repo_url: '{{ coredns_map.helm.repository.url }}'
            force_update: true

        - name: Get deployed chart release info
          kubernetes.core.helm_info:
            kubeconfig: '{{ k3s_project.cluster.kubeconfig }}'
            name: '{{ coredns_vars.kubernetes.helm.chart.name }}'
            namespace: '{{ coredns_vars.kubernetes.namespace }}'
          register: release
          changed_when: false

        - name: Set comparison fact
          ansible.builtin.set_fact:
            comparison:
              chart: '{{ coredns_map.helm.chart.version }}'
              release: "{{ release.status.chart | default('0') | regex_search('[0-9.]+') }}"

        - name: Set chart postinstall fact
          ansible.builtin.set_fact:
            coredns_postinstall: false

        - name: Validate chart values
          ansible.builtin.debug:
            msg: "{{ lookup('ansible.builtin.template', 'values.j2') }}"

        - name: Set chart values fact
          ansible.builtin.set_fact:
            chart_values: "{{ lookup('ansible.builtin.template', 'values.j2') | trim | from_yaml }}"
          when:
            - comparison.release is version('0', '>')
            - comparison.release != comparison.chart

        - name: Update chart postinstall fact
          ansible.builtin.set_fact:
            coredns_postinstall: true

        - name: Validate postinstall chart values
          ansible.builtin.debug:
            msg: "{{ lookup('ansible.builtin.template', 'values.j2') }}"

        - name: Chart Deployment Simulation
          when:
            - comparison.release is version('0', '>')
            - comparison.release != comparison.chart
          block:
            - name: Update chart values fact
              ansible.builtin.set_fact:
                chart_values: "{{ chart_values | combine(lookup('ansible.builtin.template', 'values.j2') | trim | from_yaml, recursive=true) }}"

            - name: Simulate chart deployment
              ansible.builtin.command:
                cmd: >-
                  helm diff upgrade
                    {{ coredns_vars.kubernetes.helm.chart.name }}
                    {{ coredns_map.helm.chart.reference }}
                    --kubeconfig {{ k3s_project.cluster.kubeconfig }}
                    --namespace {{ coredns_vars.kubernetes.namespace }}
                    --version {{ coredns_vars.kubernetes.helm.chart.version }}
                    --context 3 --values -
                stdin: '{{ chart_values | to_yaml }}'
              register: result
              delay: 1
              retries: 3
              until: result is not failed
              changed_when: false

            - name: Chart deployment simulation result
              ansible.builtin.debug:
                msg: "{{ result.stdout if result.stdout | length > 0 else 'No chart deployment errors found.' }}"

            - name: Compare chart values
              ansible.builtin.command:
                cmd: bash -c "{{
                  ' '.join(['diff', '-u', '<(curl', '-s ' +
                    '/'.join([coredns_map.helm.platform.raw,
                      coredns_vars.kubernetes.helm.repository.org,
                      coredns_vars.kubernetes.helm.repository.name, 'refs', 'tags',
                      '-'.join([coredns_vars.kubernetes.helm.chart.name, comparison.release]), 'charts',
                      coredns_vars.kubernetes.helm.chart.name, 'values.yaml']) + ')',
                  '<(curl', '-s ' +
                    '/'.join([coredns_map.helm.platform.raw,
                      coredns_vars.kubernetes.helm.repository.org,
                      coredns_vars.kubernetes.helm.repository.name, 'refs', 'tags',
                      '-'.join([coredns_vars.kubernetes.helm.chart.name, comparison.chart]), 'charts',
                      coredns_vars.kubernetes.helm.chart.name, 'values.yaml']) + ')'])
                  }}"
              register: result
              delay: 1
              retries: 3
              until: result is not failed
              changed_when: false
              failed_when: result.rc > 1

            - name: Chart values comparison result
              ansible.builtin.debug:
                msg: "{{ result.stdout if result.stdout | length > 0 else 'No chart comparison changes found.' }}"
