---
cluster_vars:
  device:
    id: '2:2'
    name: 'ASMedia Technology'
    transport: usb
  hardware:
    architecture: aarch64
    product: 'Raspberry Pi'
  service:
    bluetooth:
      enabled: false
    cloud_init:
      enabled: false
    postfix:
      enabled: true
      protocols: ipv4
      relay:
        host: smtp.mail.me.com
        port: 587
      user:
        alias: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33653866643135633461353232646435313431303639373362616235653864326664383538303733
          3435663130343936383861333165643130356237353435350a653233316665636164323238656131
          62343830383865353437643466663639653336316538393734663164373332323636633465306539
          6535316437366232310a393030616365336131346462366231303765346162636133366366366666
          61666133396237643736323039656431666539316466613537353566653434343335
        name: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33613533663061316461353063333966646463386130316230383566643465653363653535656136
          3564636533306637303530333466613738626438313232330a653933373630356533323038313335
          66303062643132373064313335616336313663366565386238346231356436613730303766626465
          3530353063623233380a306663336338333231636562363061616164356631366339366234303833
          33636333313934663737653565643234373039373963343436373133353866386437
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65623337643063366436346162363338613931663364303866316338353638613264303462656466
          6533363730653731613332313466633666633166353537630a363762636634326235366362653364
          30333337633834623962643533373562666365643930626361613162366338343831643231323339
          3864653332333038300a663733636137643964323439643439343863336332393835356365363563
          61313538623030313638626534386636393063613231343734386137356134353961
    snapd:
      enabled: false
    unattended_upgrades:
      enabled: true
      reboot:
        automatic: 'false'
        time: '02:00'
        timelapse: 10
    wifi:
      enabled: false
  ssh:
    authorized_key: "{{ lookup('ansible.builtin.file', lookup('ansible.builtin.env', 'HOME') + '/.ssh/id_ed25519.pub') }}"
    private_key: "{{ lookup('ansible.builtin.env', 'HOME') + '/.ssh/id_ed25519' }}"
