{% if victorialogs_postinstall %}
dashboards:
  enabled: true
{% endif %}
podDisruptionBudget:
  enabled: true
  minAvailable: 1
server:
{% if externaldns_vars.cloudflare.host.domain | lower != 'disabled' %}
  ingress:
    annotations:
{% for key, value in victorialogs_map.ingress.server.annotations.items() %}
      {{ key | indent(6) }}: {{ value }}
{% endfor %}
    enabled: {{ victorialogs_vars.kubernetes.server.ingress.enabled }}
    hosts:
      - name: {{ victorialogs_map.ingress.server.hostname }}
        path:
          - /
        port: http
    ingressClassName: cilium
    tls:
      - hosts:
          - {{ victorialogs_map.ingress.server.hostname }}
        secretName: {{ externaldns_vars.cloudflare.prefix }}-{{ victorialogs_map.ingress.server.name }}
{% endif %}
{% if victorialogs_vars.kubernetes.server.storage.enabled %}
  persistentVolume:
    accessModes:
      {{ victorialogs_vars.kubernetes.server.storage.access_modes | to_nice_yaml | indent(6) }}
    enabled: true
    size: {{ victorialogs_vars.kubernetes.server.storage.size }}
    storageClassName: {{ victorialogs_vars.kubernetes.server.storage.class }}
{% endif %}
  replicaCount: {{ victorialogs_vars.kubernetes.server.replicas }}
{% if victorialogs_postinstall %}
  resources:
    limits:
      cpu: {{ victorialogs_vars.kubernetes.server.resources.limits.cpu }}
      memory: {{ victorialogs_vars.kubernetes.server.resources.limits.memory }}
    requests:
      cpu: {{ victorialogs_vars.kubernetes.server.resources.requests.cpu }}
      memory: {{ victorialogs_vars.kubernetes.server.resources.requests.memory }}
  serviceMonitor:
    enabled: true
{% endif %}
  retentionPeriod: {{ victorialogs_vars.kubernetes.server.retention_period }}
{% if k3s_vars.cluster.controlplane.tainted and k3s_project.cluster.tolerations | length > 0 %}
  tolerations:
    {{ k3s_project.cluster.tolerations | to_nice_yaml | indent(4) }}
{% endif %}
{% if victorialogs_vars.kubernetes.vector.enabled %}
vector:
  enabled: true
  logLevel: {{ victorialogs_vars.kubernetes.vector.log_level }}
{% if victorialogs_vars.kubernetes.vector.autoscaling.enabled %}
  autoscaling:
    enabled: true
    maxReplicas: {{ victorialogs_vars.kubernetes.vector.autoscaling.max_replicas }}
    minReplicas: {{ victorialogs_vars.kubernetes.vector.autoscaling.min_replicas }}
    targetCPUUtilizationPercentage: {{ victorialogs_vars.kubernetes.vector.autoscaling.target.utilization_percentage.cpu }}
    targetMemoryUtilizationPercentage: {{ victorialogs_vars.kubernetes.vector.autoscaling.target.utilization_percentage.memory }}
{% else %}
  replicas: {{ victorialogs_vars.kubernetes.vector.autoscaling.min_replicas }}
{% endif %}
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
{% if victorialogs_postinstall %}
  podMonitor:
    enabled: true
  resources:
    limits:
      cpu: {{ victorialogs_vars.kubernetes.vector.resources.limits.cpu }}
      memory: {{ victorialogs_vars.kubernetes.vector.resources.limits.memory }}
    requests:
      cpu: {{ victorialogs_vars.kubernetes.vector.resources.requests.cpu }}
      memory: {{ victorialogs_vars.kubernetes.vector.resources.requests.memory }}
  serviceMonitor:
    enabled: true
{% endif %}
{% endif %}
{% if k3s_vars.cluster.controlplane.tainted and k3s_project.cluster.tolerations | length > 0 %}
  tolerations:
    {{ k3s_project.cluster.tolerations | to_nice_yaml | indent(4) }}
{% endif %}
