{#
  ArgoCD Parameters
  Manual: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cmd-params-cm.yaml
#}

application.namespaces: {{ argocd_vars.kubernetes.configs.params.application.namespaces | join(', ') }}
applicationsetcontroller.enable.git.submodule: {{ argocd_vars.kubernetes.configs.params.applicationsetcontroller.git.submodule.enabled | lower }}
applicationsetcontroller.enable.new.git.file.globbing: {{ argocd_vars.kubernetes.configs.params.applicationsetcontroller.git.new_file_globbing.enabled | lower }}
applicationsetcontroller.enable.progressive.syncs: {{ argocd_vars.kubernetes.configs.params.applicationsetcontroller.progressive_syncs.enabled | lower }}
applicationsetcontroller.log.level: {{ argocd_vars.kubernetes.configs.params.applicationsetcontroller.log_level }}
controller.log.level: {{ argocd_vars.kubernetes.configs.params.controller.log_level }}
controller.sharding.algorithm: {{ argocd_vars.kubernetes.configs.params.controller.sharding.algorithm }}
dexserver.log.level: {{ argocd_vars.kubernetes.configs.params.dexserver.log_level }}
notificationscontroller.log.level: {{ argocd_vars.kubernetes.configs.params.notificationscontroller.log_level }}
reposerver.log.level: {{ argocd_vars.kubernetes.configs.params.reposerver.log_level }}
server.insecure: {{ argocd_vars.kubernetes.configs.params.server.insecure | lower }}
server.log.level: {{ argocd_vars.kubernetes.configs.params.server.log_level }}
