apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: {{ argocd_vars.kubernetes.namespace }}
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
data:
{% for user in argocd_resources.server.users %}
  {{ '.'.join(['accounts', user.name, 'password']) | indent(2) }}: >-
    {{ user.password | b64encode | indent(4) }}
  {{ '.'.join(['accounts', user.name, 'passwordMtime']) | indent(2) }}: {{ ansible_date_time.iso8601 | b64encode }}
{% endfor %}
