apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
{% for key, value in argocd_map.gateway.server.annotations.items() %}
    {{ key | indent(4) }}: {{ value }}
{% endfor %}
  name: {{ argocd_vars.kubernetes.server.gateway.service }}
  namespace: {{ argocd_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
  listeners:
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ argocd_map.gateway.server.hostname }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - kind: GRPCRoute
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ argocd_map.gateway.server.hostname }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ externaldns_vars.cloudflare.prefix }}-{{ argocd_vars.kubernetes.server.gateway.service }}
