---
argocd_vars:
  kubernetes:
    application_set:
      replicas: 2
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
    configs:
      cm:
        exec:
          enabled: true
      params:
        server:
          insecure: true
    controller:
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 128Mi
    dex:
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
    helm:
      chart:
        name: argo-cd
        org: argoproj
        version: v7.1.1
      repository:
        name: argo-helm
        org: argoproj
        url: https://argoproj.github.io
    namespace: kube-system
    notifications:
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
    redis:
      high_availability:
        enabled: true
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 128Mi
    repo_server:
      autoscaling:
        enabled: true
        min_replicas: 2
        target:
          cpu_percentage: 60
          memory_percentage: 80
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 128Mi
    server:
      admin:
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34393938613865616665666136616561313166303463366665313630383439343035356161663963
          6332616639663533643535333334656436386533386665660a663137326437326461373766623864
          30633935616331333363346633633533346438353536356265323866363064653731376266306665
          3138643266396539330a663132393231646265316330393765323631333838333432333531316639
          62333838313937393162373537353632613866313161343366343361653738366265
      application:
        namespaces:
          - kube-system
      autoscaling:
        enabled: true
        min_replicas: 2
        target:
          cpu_percentage: 60
          memory_percentage: 80
      gateway:
        service: argo-cd-argocd-server
        subdomain: argocd
      infrastructure:
        annotations:
          io.cilium/lb-ipam-ips: 192.168.4.18
      resources:
        limits:
          cpu: 400m
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 128Mi
      user:
        name: floren
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64633339333736643362666261326638663532663037666334366366626236316235316566323730
          3731303238393765383766616636323161636133623330330a373462353334616232623362643339
          32393830626564653166386564383936653862376261343063316437636365333537663166633664
          6163323837383863660a393936386633336336376539306235373364643430323930633261386130
          63333630323765663465326438643862373831656437616262323739376634663037
  release:
    checksums: cli_checksums.txt
    file: argocd-linux-arm64
    repository:
      name: argo-cd
      org: argoproj
    version: v2.11.2
