---
k3s_vars:
  cluster:
    controlplane:
      tainted: true
    domain: cluster.local
    kubeconfig:
      local: true
      # -- Local `/.kube` directory path
      path: "{{ lookup('ansible.builtin.env', 'HOME') + '/.kube' }}"
    service:
      host: 127.0.0.1
      port: 6444
    # -- Related to `server.api.host` key
    tls_san:
      - 192.168.4.10
  network:
    interface: eth0
  release:
    k3s:
      # -- See [documentation](https://axivo.com/k3s-cluster/tutorials/handbook/server/#hardware), for details
      checksum: sha256sum-arm64.txt
      # -- See [documentation](https://axivo.com/k3s-cluster/tutorials/handbook/server/#hardware), for details
      file: k3s-arm64
      name: k3s
      repository:
        name: k3s
        org: k3s-io
      version: v1.31.5+k3s1
    kubepug:
      checksum: checksums.txt
      # -- See [documentation](https://axivo.com/k3s-cluster/tutorials/handbook/server/#hardware), for details
      file: kubepug_linux_arm64.tar.gz
      name: kubepug
      repository:
        name: kubepug
        org: kubepug
      version: v1.7.1
  server:
    api:
      # -- Related to `cluster.tls_san` key,
      # used as frontend bind IP for Haproxy loadbalancer and populated into `/.kube/config` file
      host: 192.168.4.10
      port: 6443
  service:
    debug: false
