---
k3s_vars:
  agent:
    kubelet:
      - arg: eviction-hard
        value: memory.available<500Mi
      - arg: system-reserved
        value: cpu=500m,memory=1Gi
  directory:
    bin: /usr/local/bin
    config: /etc/rancher/k3s
    kubeconfig: "{{ lookup('ansible.builtin.env', 'HOME') + '/.kube' }}"
    lib: /var/lib/rancher/k3s
  network:
    interface: eth0
  release:
    checksum: sha256sum-arm64.txt
    file: k3s-arm64
    repository:
      name: k3s
      org: k3s-io
    version: v1.29.4+k3s1
  server:
    api:
      host: 192.168.4.10
      port: 6443
    cluster:
      dns: 10.43.0.10
      domain: cluster.local
    controlplane:
      tainted: true
    loadbalancer:
      host: 127.0.0.1
      port: 6444
    kubeconfig:
      local: true
    kubelet:
      - arg: system-reserved
        value: cpu=500m,memory=1Gi
  service:
    debug: false
  tolerations:
    - key: node.cilium.io/agent-not-ready
      operator: Exists
      effect: NoExecute
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
