---
prometheus_vars:
  kubernetes:
    alertmanager:
      gateway:
        service: monitoring-kube-prometheus-alertmanager
        subdomain: alertmanager
      infrastructure:
        annotations:
          io.cilium/lb-ipam-ips: 192.168.4.21
      log_level: info
      replicas: 2
      resources:
        limits:
          cpu: null
          memory: 128Mi
        requests:
          cpu: 20m
          memory: 32Mi
      retention: 72h
      storage: 5Gi
    helm:
      chart:
        name: kube-prometheus-stack
        prefix: monitoring
        version: v65.2.0
      repository:
        name: helm-charts
        org: prometheus-community
        url: https://prometheus-community.github.io
    grafana:
      gateway:
        service: monitoring-grafana
        subdomain: grafana
      infrastructure:
        annotations:
          io.cilium/lb-ipam-ips: 192.168.4.22
      secret:
        name: grafana-secret
      user:
        name: admin
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64373766356138653633346638343234336132383737616530303636366262313534656163616435
          3363396663333933306431363038316239373164386332660a616136666438313933353762373063
          38323135393830336132393239363236373961336464623432363338616266626334393233366263
          6164623332633535310a626532356161363563303036353838306234306562303333333231643432
          38383463653931373134663230383033666264646364316563663636303736326630
    namespace: kube-system
    prometheus:
      compaction:
        enabled: true
      gateway:
        service: monitoring-kube-prometheus-prometheus
        subdomain: prometheus
      infrastructure:
        annotations:
          io.cilium/lb-ipam-ips: 192.168.4.23
      log_level: info
      replicas: 1
      resources:
        limits:
          cpu: null
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 256Mi
      retention: 3d
      retention_size: 20GB
      storage: 50Gi
