{% if certmanager_postinstall %}
cainjector:
  resources:
    limits:
      cpu: {{ certmanager_vars.kubernetes.cainjector.resources.limits.cpu }}
      memory: {{ certmanager_vars.kubernetes.cainjector.resources.limits.memory }}
    requests:
      cpu: {{ certmanager_vars.kubernetes.cainjector.resources.requests.cpu }}
      memory: {{ certmanager_vars.kubernetes.cainjector.resources.requests.memory }}
{% endif %}
crds:
  enabled: true
  keep: false
extraArgs:
  - --enable-gateway-api
podDisruptionBudget:
  enabled: true
  maxUnavailable: 1
{% if certmanager_postinstall %}
prometheus:
  servicemonitor:
    enabled: true
    namespace: {{ prometheus_vars.kubernetes.namespace }}
resources:
  limits:
    cpu: {{ certmanager_vars.kubernetes.controller.resources.limits.cpu }}
    memory: {{ certmanager_vars.kubernetes.controller.resources.limits.memory }}
  requests:
    cpu: {{ certmanager_vars.kubernetes.controller.resources.requests.cpu }}
    memory: {{ certmanager_vars.kubernetes.controller.resources.requests.memory }}
{% endif %}
replicaCount: {{ certmanager_vars.kubernetes.controller.replicas }}
strategy:
  rollingUpdate:
    maxSurge: 0
    maxUnavailable: 1
  type: RollingUpdate
{% if certmanager_postinstall %}
webhook:
  resources:
    limits:
      cpu: {{ certmanager_vars.kubernetes.webhook.resources.limits.cpu }}
      memory: {{ certmanager_vars.kubernetes.webhook.resources.limits.memory }}
    requests:
      cpu: {{ certmanager_vars.kubernetes.webhook.resources.requests.cpu }}
      memory: {{ certmanager_vars.kubernetes.webhook.resources.requests.memory }}
{% endif %}
