cainjector:
  resources:
    limits:
      cpu: {{ certmanager_vars.kubernetes.cainjector.resources.limits.cpu }}
      memory: {{ certmanager_vars.kubernetes.cainjector.resources.limits.memory }}
    requests:
      cpu: {{ certmanager_vars.kubernetes.cainjector.resources.requests.cpu }}
      memory: {{ certmanager_vars.kubernetes.cainjector.resources.requests.memory }}
extraArgs:
  - --feature-gates=ExperimentalGatewayAPISupport=true
installCRDs: true
prometheus:
  serviceMonitor:
    enabled: true
    namespace: {{ prometheus_vars.kubernetes.namespace }}
resources:
  limits:
    cpu: {{ certmanager_vars.kubernetes.controller.resources.limits.cpu }}
    memory: {{ certmanager_vars.kubernetes.controller.resources.limits.memory }}
  requests:
    cpu: {{ certmanager_vars.kubernetes.controller.resources.requests.cpu }}
    memory: {{ certmanager_vars.kubernetes.controller.resources.requests.memory }}
webhook:
  resources:
    limits:
      cpu: {{ certmanager_vars.kubernetes.webhook.resources.limits.cpu }}
      memory: {{ certmanager_vars.kubernetes.webhook.resources.limits.memory }}
    requests:
      cpu: {{ certmanager_vars.kubernetes.webhook.resources.requests.cpu }}
      memory: {{ certmanager_vars.kubernetes.webhook.resources.requests.memory }}
