apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ cloudflare_cluster_issuer }}
  name: {{ prometheus_vars.kubernetes.alertmanager.gateway.service }}
  namespace: {{ prometheus_vars.kubernetes.namespace }}
spec:
  gatewayClassName: cilium
  infrastructure:
    annotations:
{% for key, value in prometheus_vars.kubernetes.alertmanager.infrastructure.annotations.items() %}
      {{ key | indent(6) }}: {{ value }}
{% endfor %}
  listeners:
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ hostname['alertmanager'] }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        kinds:
          - kind: HTTPRoute
        namespaces:
          from: Same
      hostname: {{ hostname['alertmanager'] }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - kind: Secret
            name: {{ cloudflare_tls_key_prefix }}-{{ prometheus_vars.kubernetes.alertmanager.gateway.service }}
