apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_vars.kubernetes.grafana.secret.name }}
  namespace: {{ prometheus_vars.kubernetes.namespace }}
stringData:
  password: {{ prometheus_vars.kubernetes.grafana.user.password }}
  username: {{ prometheus_vars.kubernetes.grafana.user.name }}
type: Opaque
